<ion-view view-title="Detail Beranda Pengajar">
  <ion-content style="background: linear-gradient(to bottom, #66ffff 0%, #0066ff 100%); ">
    <p>
    <ion-item>Hari
            <span class="item-note">{{hari_nama}}</span>
    </ion-item>

    <ion-item>Jam Mulai
            <span class="item-note">{{jam_mulai}}</span>
    </ion-item>

    <ion-item>Jam Selesai
            <span class="item-note">{{jam_selesai}}</span>
    </ion-item>

    <ion-item>Matapelajaran
            <span class="item-note">{{nama_mapel}}</span>
    </ion-item>

    <ion-item>Pengajar
            <span class="item-note">{{nama}}</span>
    </ion-item>

    <ion-item>Kelas
            <span class="item-note">{{nama_kelas}}</span>
    </ion-item>

  </p>
  </ion-content>
</ion-view>
