<ion-view view-title="<i class='icon ion-ios-body'></i><strong> Akun </strong>">
  <ion-content style="background: linear-gradient(to bottom, #66ffff 0%, #0066ff 100%); ">
    <div class="list" ng-repeat="x in bio_p">
      <p>
      <ion-item>NUPTK
              <span class="item-note">{{x.nuptk}}</span>
      </ion-item>

      <ion-item>Nama
              <span class="item-note">{{x.nama}}</span>
      </ion-item>

      <ion-item>Jenis Kelamin
              <span class="item-note">{{x.jenis_kelamin}}</span>
      </ion-item>

      <ion-item>Tempat/Tanggal Lahir
              <span class="item-note">{{x.tempat_lahir}}/{{x.tgl_lah}}</span>
      </ion-item>

      <ion-item>Alamat
              <span class="item-note">{{x.alamat}}</span>
      </ion-item>

      <ion-item>Pendidikan Terakhir
              <span class="item-note">{{x.pend_terakhir}}</span>
      </ion-item>

      <ion-item>Bidang Studi
              <span class="item-note">{{x.b_studi}}</span>
      </ion-item>

      <ion-item>Tahun Masuk/Masa Kerja
              <span class="item-note">{{x.tahun_masuk}} / {{x.masa_kerja}}th</span>
      </ion-item>

      <ion-item>Status Pengajar
              <span class="item-note">{{x.status_kg}}</span>
      </ion-item>

      <ion-item>Status
              <span class="item-note">{{x.status_nama}}</span>
      </ion-item>

    </p>
  </ion-item>
  </ion-content>
</ion-view>
