<ion-view title="Tambah Materi">
  <ion-content padding="true" class="has-header" style="background: linear-gradient(to bottom, #66ffff 0%, #0066ff 100%); ">
    <form class="list">
      <ion-list>
        <label class="item item-input">
          <span class="input-label">Judul</span>
          <input type="text" placeholder="ketik judul tugas" ng-model="form.judul">
        </label>
        <label class="item item-input">
          <span class="input-label">Konten</span>
          <textarea placeholder="ketik konten" ng-model="form.konten">
          </textarea>
        </label>
        
        <label class="item item-input">
           <span class="input-label" for="file"><strong>File Tugas</strong></span>
           <input type="file" name="file" placeholder="Konten" ng-model="form.file" onchange="angular.element(this).scope().uploadedFile1(this)">
        </label>

        <div class="item item-input-inset" style="padding: 0px;">
           <p id="output"></p>
        </div>

        <div class="item" ng-model="form.tgl_posting" >
            <i></i>
            Tanggal Posting:
            {{form.tgl_posting| date: "yyyy-MM-dd H:mm"}}
        </div>
      </ion-list>
      <label class="item item-select">
        <span class="input-label">Matapelajaran</span>
        <select ng-model="form.mapel">
          <option ng-repeat="item in mapel" value="{{item.mapel_id}}">{{item.nama_mapel}}</option>
        </select>
      </label>

      <label class="item item-select">
        <span class="input-label">Kelas</span>
        <select ng-model="form.kelas">
          <option ng-repeat="item in kelas" value="{{item.kelas_id}}">{{item.nama_kelas}}</option>
        </select>
      </label>

      <button class="button button-dark button-block" ng-click="insert()">Simpan</button>
    </form>
  </ion-content>
</ion-view>
