<ion-view view-title="Tugas">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button icon ion-android-add" ui-sref=" app.addtugas "></button>
  </ion-nav-buttons>
  <ion-content style="background: linear-gradient(to bottom, #66ffff 0%, #0066ff 100%); ">

    <ion-refresher on-refresh="doRefresh(tugas_p)"
                   pulling-text="Pull to refresh..."
                   refreshing-text="Refreshing!"
                   refreshing-icon="ion-loading-c">
    </ion-refresher>

    <div class="bar bar-header item-input-inset">
      <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Search tugas" ng-model="search"/>
        </label>
      </div>
    </div>

    <!-- <ion-refresher (ionRefresh)="doRefresh(tugas)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher> -->



    <div class="list" ng-repeat="x in tugas_p | filter:search | limitTo:listlength">
      <a class="item" ng-click="detail(x.tugas_id, x.judul, x.konten, x.tgl_bu ,
                                                    x.tgl_se, x.file, x.nama_mapel, x.nama,
                                                    x.nama_kelas, x.mapel_id, x.tgl_buat, x.tgl_selesai, x.pengajar_id,
                                                    x.kelas_id )">
        <h2><b>{{x.judul}}</b></h2>
        {{x.nama_mapel}}</br>
        {{x.nama_kelas}}
      </a>
    </div>


  </ion-content>

</ion-view>
